<div class="container">
    <div class="text row">
        <div class="left-side col-lg-4">
            <h3>WearWolf</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, nesciunt cum distinctio quaerat tempore asperiores, cupiditate neque voluptatum sit fugit perferendis deserunt est exercitationem optio mollitia numquam, velit sed culpa.
            </p>
            <ul>
                <li>
                    <a href="#">
                        <span class="fab fa-facebook fa-2x" aria-hidden="true"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="fab fa-twitter fa-2x" aria-hidden="true"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="fab fa-google-plus fa-2x" aria-hidden="true"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="fab fa-instagram fa-2x" aria-hidden="true"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="right-side col-lg-8">
            <h4>Descuentos de temporada de hasta -50% en productos seleccionados.</h4>
            <div class="sub-column">
                <div class="sub-one-left col-6">
                    <h6>Links utiles</h6>
                    <div class="footer-ul1 d-flex">
                        <ul>
                            <li><a href="">Incio</a></li>
                            <li><a href="">Acerca</a></li>
                            <li><a href="">Comprar</a></li>
                            <li><a href="">Contacto</a></li>
                        </ul>
                        <ul>
                            <li>
                                <a href="">Marcas</a>
                            </li>
                            <li>
                                <a href="">Politica de privacidad</a>
                            </li>
                            <li>
                                <a href="">Terminos y condiciones</a>
                            </li>
                            <li>
                                <a href="">Soporte</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sub-two-right col-6">
                    <h6>Nuestra tienda</h6>
                    <p class="mb-6">Avenida Siempreviva 742, Springfield</p>
                    <h6>Aceptamos:</h6>
                    <ul>
                        <li>
                            <a href="">
                                <span class="fab fa-cc-visa fa-2x"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="fab fa-cc-mastercard fa-2x"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="fab fa-cc-paypal fa-2x"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="fab fa-cc-amex fa-2x"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="text-center">Ⓒ 2020 WearWolf. Todos los derechos reservados. Diseañdo por <span>ChrsitianECH</span></p>
    </div>

</div>